[user]
	name = Howard Wilson
	email = howard@watsonbox.net
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	co = checkout
	cof = "!f() { local branches branch; branches=$(git branch -vv) && branch=$(echo '$branches' | fzf +m) && git checkout $(echo '$branch' | awk '{print $1}' | sed 's/.* //') }; f"
	wip = !git add -A && git commit -m 'WIP'
	fbclean = "!f() { git branch --merged ${1-master} | grep " feature/" | xargs git branch -d; }; f"
	dig = "!f() { git log --pretty=format:'%Cred%h%Creset - %Cgreen(%ad)%Creset - %s %C(bold blue)<%an>%Creset' --abbrev-commit --date=short -G"$1" -- $2; }; f"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
